<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script> 
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    

    <div class="container-fluid px-md-5 pt-4 pt-md-5">
        <div class="row justify-content-between">
            <div class="col-md-8 order-md-last">
                <div class="row">
                    <div class="col-md-6 text-center">
                      <img src="images/logo.jpg" width="100" height="90">
                        <a class="navbar-brand" href="#" style="font-family: 'Times New Roman', Times, serif;">SANTHOSH
                            <span>AGENCY</span>
                            <small class="text-dark">
                                Distributing Company
                            </small>
                        </a>
                    </div>
                    <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
                        <form class="searchform order-lg-last" action="/goodluck">
                            <div class="form-group d-flex">
                                <input type="text"class="form-control pl-3"
                                placeholder="Search">
                                <button type="submit"placeholder=""
                                class="form-control search">
                                <span class="fas fa-search text-dark"></span>
                              
                              </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--End of Search-->
            <div class="col-md-4 d-flex">
                <div class="social-media">
                    <p class="mb-0 d-flex">
                        <a href="https://www.facebook.com/pages/category/Bookstore/Santhosh-Agency-school-books-suppliers-1507347346220938/"class="d-flex align-items-center 
                        justify-content-center">
                      <span class="fab fa-facebook">
                          <i class="sr-only">Facebook</i>
                      </span>
                      </a>
                      <a href="#"class="d-flex align-items-center 
                        justify-content-center">
                      <span class="fab fa-twitter">
                          <i class="sr-only">Facebook</i>
                      </span>
                      </a>
                      <a href="#"class="d-flex align-items-center 
                        justify-content-center">
                      <span class="fab fa-instagram">
                          <i class="sr-only">Facebook</i>
                      </span>
                      </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--NAVBAr-->
    <hr>
    <!--End of NAVBAR-->
    <!--Hero Section-->
    


    <div class="text-center">
     
        <marquee class="marqee" behavior="alternate" width="100%" scrollamount="20"  direction="left" height="70px">
          Infinity-General Knowledge Books
          </marquee>
       
          </div>
          <br><br>
        <div class="row">
                    <div class="col-sm-3">
                        <div class="flip-card" style="margin-left: 30px;">
                            <div class="flip-card-inner">
                              <div class="flip-card-front">
                                <img src="images/Hello World 01.jpg" alt="Avatar" style="width:270px;height:300px;">
                            
                                <h4>Hello World 01</h4>
                              </div>
                              <div class="flip-card-back" >
                                 <br><br>
                                <h1>Infinity</h1> 
                                <br>
                                <h3>Hello World 01</h3> 
                           
                                <br>
                                <button type="button" class="btn btn-success" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy Now</button>
                            
                              </div>
                            </div>
                          </div>
                    </div>

    
    
                    <div class="col-sm-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                              <div class="flip-card-front">
                                <img src="images/Hello World 02.jpg" alt="Avatar" style="width:270px;height:300px;">
                                <h4>Hello World 02</h4>
                              </div>
                              <div class="flip-card-back" >
                                 <br><br>
                                <h1>Infinity</h1> 
                                <br>
                                <h3>Hello World 02</h3> 
                               
                                <br>
                                <button type="button" class="btn btn-success"  class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal2">Buy Now</button>
                            
                              </div>
                            </div>
                          </div>
                    </div>
    
    
    
                    <div class="col-sm-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                              <div class="flip-card-front">
                                <img src="images/Hello World 03.jpg" alt="Avatar" style="width:270px;height:300px;">
                                <h4>Hello World 03</h4>
                              </div>
                              <div class="flip-card-back" >
                                 <br><br>
                                <h1>Infinity</h1> 
                                <br>
                                <h3>Hello World 03</h3> 
                               
                                <br>
                                <button type="button" class="btn btn-success"  class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal3">Buy Now</button>
                            
                              </div>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                              <div class="flip-card-front">
                                <img src="images/Hello World 04.jpg" alt="Avatar" style="width:270px;height:300px;">
                                <h4>Hello World 04</h4>
                              </div>
                              <div class="flip-card-back" >
                                 <br><br>
                                <h1>Infinity</h1> 
                                <br>
                                <h3>Hello World 04</h3> 
                               
                                <br>
                                <button type="button" class="btn btn-success"  class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal4" >Buy Now</button>
                            
                              </div>
                            </div>
                          </div>
                    </div>
</div> 
<br><br>
<br>
<!-- 2nd row start -->
<div class="row">
    <div class="col-sm-3">
        <div class="flip-card" style="margin-left: 30px;">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Hello World 05.jpg" alt="Avatar" style="width:270px;height:300px;">
                <h4>Hello World 05</h4>
              </div>
              <div class="flip-card-back" >
                 <br><br>
                <h1>Infinity</h1> 
                <br>
                <h3>Hello World 05</h3> 
               
                <br>
                <button type="button" class="btn btn-success"  class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal5">Buy Now</button>
            
              </div>
            </div>
          </div>
    </div>


    <div class="col-sm-3">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Hello World 06.jpg" alt="Avatar" style="width:270px;height:300px;">
                <h4>Hello World 06</h4>
              </div>
              <div class="flip-card-back" >
                 <br><br>
                <h1>Infinity</h1> 
                <br>
                <h3>Hello World 06</h3> 
                
                <br>
                <button type="button" class="btn btn-success"  class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal6">Buy Now</button>
            
              </div>
            </div>
          </div>
    </div>



    <div class="col-sm-3">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Hello World 07.jpg" alt="Avatar" style="width:270px;height:300px;">
                <h4>Hello World 07</h4>
              </div>
              <div class="flip-card-back" >
                 <br><br>
                <h1>Infinity</h1> 
                <br>
                <h3>Hello World 07</h3> 
                
                <br>
                <button type="button" class="btn btn-success"  class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal7">Buy Now</button>
            
              </div>
            </div>
          </div>
    </div>

    <div class="col-sm-3">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Hello World 08.jpg" alt="Avatar" style="width:270px;height:300px;">
                <h4>Hello World 08</h4>
              </div>
              <div class="flip-card-back" >
                 <br><br>
                <h1>Infinity</h1> 
                <br>
                <h3>Hello World 08</h3> 
                
                <br>
                <button type="button" class="btn btn-success"  class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal8">Buy Now</button>
            
              </div>
            </div>
          </div>
    </div>
</div> 

<!-- second row ends -->



<!-- modal for Hello 1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Details</h5><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class=" text-center">
               <img src="images/logo.jpg" width="150" height="130" alt="">
             </div>
        <div class="modal-body">
        <form action="/details" method="POST">
        <label for="">User Name:</label>
        <input type="text" name="name1" class="form-control"><br>
        
        <label for="">Phone No:</label>
        <input type="tel" name="phone" class="form-control"><br>
        
   </div>
        <div class="modal-footer" id="grm1">
          <button button="submit" value="Submit" class="btn btn-info">Submit</button>
         
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>

  <!-- modal grammer1 end -->
  <!-- modal Hello 2 start -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Details</h5><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class=" text-center">
               <img src="images/logo.jpg" width="150" height="130" alt="">
             </div>
        <div class="modal-body">
        <form action="/details" method="POST">
        <label for="">User Name:</label>
        <input type="text" name="name1" class="form-control"><br>
        
        <label for="">Phone No:</label>
        <input type="tel" name="phone" class="form-control"><br>
        
   </div>
        <div class="modal-footer" id="grm1">
          <button button="submit" value="Submit" class="btn btn-info">Submit</button>
         
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  <!-- modal Hello 2 ends -->
  <!-- modal Hello 3 start -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">Details</h5><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class=" text-center">
               <img src="images/logo.jpg" width="150" height="130" alt="">
             </div>
        <div class="modal-body">
        <form action="/details" method="POST">
        <label for="">User Name:</label>
        <input type="text" name="name1" class="form-control"><br>
        
        <label for="">Phone No:</label>
        <input type="tel" name="phone" class="form-control"><br>
        
   </div>
        <div class="modal-footer" id="grm1">
          <button button="submit" value="Submit" class="btn btn-info">Submit</button>
         
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  <!-- modal Hello 3 ends -->
  <!-- modal Hello 4 start -->
  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">Details</h5><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class=" text-center">
               <img src="images/logo.jpg" width="150" height="130" alt="">
             </div>
        <div class="modal-body">
        <form action="/details" method="POST">
        <label for="">User Name:</label>
        <input type="text" name="name1" class="form-control"><br>
        
        <label for="">Phone No:</label>
        <input type="tel" name="phone" class="form-control"><br>
        
   </div>
        <div class="modal-footer" id="grm1">
          <button button="submit" value="Submit" class="btn btn-info">Submit</button>
         
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  <!-- modal Hello 4 start -->
  <!-- modal Hello 5 start -->
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel5">Details</h5><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class=" text-center">
               <img src="images/logo.jpg" width="150" height="130" alt="">
             </div>
        <div class="modal-body">
        <form action="/details" method="POST">
        <label for="">User Name:</label>
        <input type="text" name="name1" class="form-control"><br>
        
        <label for="">Phone No:</label>
        <input type="tel" name="phone" class="form-control"><br>
        
   </div>
        <div class="modal-footer" id="grm1">
          <button button="submit" value="Submit" class="btn btn-info">Submit</button>
         
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  <!-- modal Hello 5 ends -->
  <!-- modal Hello 6 start -->
  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel6">Details</h5><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class=" text-center">
               <img src="images/logo.jpg" width="150" height="130" alt="">
             </div>
        <div class="modal-body">
        <form action="/details" method="POST">
        <label for="">User Name:</label>
        <input type="text" name="name1" class="form-control"><br>
        
        <label for="">Phone No:</label>
        <input type="tel" name="phone" class="form-control"><br>
        
   </div>
        <div class="modal-footer" id="grm1">
          <button button="submit" value="Submit" class="btn btn-info">Submit</button>
         
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  <!-- modal Hello 6 end -->
  <!-- modal Hello 7 start -->
  <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel7">Details</h5><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class=" text-center">
               <img src="images/logo.jpg" width="150" height="130" alt="">
             </div>
        <div class="modal-body">
        <form action="/details" method="POST">
        <label for="">User Name:</label>
        <input type="text" name="name1" class="form-control"><br>
        
        <label for="">Phone No:</label>
        <input type="tel" name="phone" class="form-control"><br>
        
   </div>
        <div class="modal-footer" id="grm1">
          <button button="submit" value="Submit" class="btn btn-info">Submit</button>
         
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  <!-- modal Hello 7 end -->
  <!-- modal Hello 8 start -->
  <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel8">Details</h5><br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class=" text-center">
               <img src="images/logo.jpg" width="150" height="130" alt="">
             </div>
        <div class="modal-body">
        <form action="/details" method="POST">
        <label for="">User Name:</label>
        <input type="text" name="name1" class="form-control"><br>
        
        <label for="">Phone No:</label>
        <input type="tel" name="phone" class="form-control"><br>
        
   </div>
        <div class="modal-footer" id="grm1">
          <button button="submit" value="Submit" class="btn btn-info">Submit</button>
         
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  <!-- modal Hello 8 end -->
<br>
<br>


<!-- footer -->

<footer class="container-fluid text-white bg-dark  text-center" id="footer">
	<div class="container ">
		<div class="row-sm-6">
	</div>
        <div class="row-md-8 text-center ">
		<small>copyright &copy;2021 All Rights Reserved-<strong> Santhosh Agency</strong></small>
		</div>
	</div>
	
	
</footer>
</body>
</html>