<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script> 
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/main.css">
    
<script>
    $(document).ready(function () {
  all_notes = $("li a");

  all_notes.on("keyup", function () {
    note_title = $(this).find("h2").text();
    note_content = $(this).find("p").text();

    item_key = "list_" + $(this).parent().index();

    data = {
      title: note_title,
      content: note_content
    };

    window.localStorage.setItem(item_key, JSON.stringify(data));
  });

  all_notes.each(function (index) {
    data = JSON.parse(window.localStorage.getItem("list_" + index));

    if (data !== null) {
      note_title = data.title;
      note_content = data.content;

      $(this).find("h2").text(note_title);
      $(this).find("p").text(note_content);
    }
  });
});
</script>

</head>
<body>
<!--nav bar starts-->
    <div class="container-fluid px-md-5 pt-4 pt-md-5">
    <div class="row justify-content-between">
        <div class="col-md-8 order-md-last">
            <div class="row">
                <div class="col-md-6 text-center">
                  <img src="images/logo.jpg" width="100" height="90">
                    <a class="navbar-brand" href="#" style="font-family: 'Times New Roman', Times, serif;">SANTHOSH
                        <span>AGENCY</span>
                        <small class="text-dark">
                            Distributing Company
                        </small>
                    </a>
                </div>
<!--search bar starts-->
                <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
                    <form class="searchform order-lg-last" action="/goodluck">
                        <div class="form-group d-flex">
                            <input type="text"class="form-control pl-3"
                            placeholder="Search">
                            <button type="submit"placeholder=""
                            class="form-control search">
                            <span class="fas fa-search text-dark"></span>
                          
                          </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<!--End of Search-->
<!--social media starts-->
        <div class="col-md-4 d-flex">
            <div class="social-media">
                <p class="mb-0 d-flex">
                    <a href="https://www.facebook.com/pages/category/Bookstore/Santhosh-Agency-school-books-suppliers-1507347346220938/"class="d-flex align-items-center 
                    justify-content-center">
                  <span class="fab fa-facebook">
                      <i class="sr-only">Facebook</i>
                  </span>
                  </a>
                  <a href="#"class="d-flex align-items-center 
                    justify-content-center">
                  <span class="fab fa-twitter">
                      <i class="sr-only">Facebook</i>
                  </span>
                  </a>
                  <a href="#"class="d-flex align-items-center 
                    justify-content-center">
                  <span class="fab fa-instagram">
                      <i class="sr-only">Facebook</i>
                  </span>
                  </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--social media bar ends-->
<!--NAVBAr-->
<nav class="navbar navbar-expand-lg navbar-dark main-navbar bg-dark main-navbar-light"id="a-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler"type="button"data-toggle="collapse"
        data-target="#my-nav" aria-controls="my-nav"aria-expanded="false"aria-label="toggle-navigation">
      <span class="fa fa-bars">Menu</span>
      </button>
      <div class="collapse navbar-collapse"id="my-nav">
          <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                  <a href="/"class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="#about"class="nav-link">About</a>
              </li>
              
              <li class="nav-item">
                  <a href="#test"class="nav-link">Proprietor</a>
              </li>
             
              <li class="nav-item">
                  <a href="#contact"class="nav-link">contact</a>
              </li>
              <li class="nav-item">
                <a href=" "class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Log in</a>
            </li>
            <li class="nav-item">
              <a href=""class="nav-link"  data-bs-toggle="modal" data-bs-target="#exampleModal1">Sign up</a>
          </li>
        </ul>
    </div>
</nav>
<!--End of NAVBAR-->
<!--Hero Section-->


<!--model of sign up start-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">SIGN UP</h5><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class=" text-center">
             <img src="images/logo.jpg" width="150" height="130" alt="">
           </div>
      <div class="modal-body">
      <form action="/sign" method="POST">
      <label for="">User Name:</label>
      <input type="text" name="name1" class="form-control"><br>
      <label for="">Email:</label>
      <input type="email" name="email" class="form-control"><br>
      <label for="">Phone No:</label>
      <input type="tel" name="phone" class="form-control"><br>
      <label for="">Password:</label>
      <input type="password" name="pwd" class="form-control"><br>
 </div>
      <div class="modal-footer" id="sign">
        <button button="submit" value="Submit" class="btn btn-info">Sign up</button>
        <button button="reset" value="Reset" class="btn btn-success">Reset</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>

<!--sign up ends-->

<!--login modal start-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LOG IN</h5><br>
      
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class=" text-center">
      <img src="images/logo.jpg"  width="150" id="img1" height="130" >
  </div>

    <div class="modal-body">
<form action="/" method="POST">
<label for="">User Name:</label>
<input type="text" name="name" class="form-control"><br>
<label for="">Password:</label>
<input type="password" name="pwd" class="form-control"><br>

</div>
<div class="modal-footer" id="sign">
    <button button="submit" value="Submit" class="btn btn-info">Login</button>
    <button button="reset" value="Reset" class="btn btn-success">Reset</button>
  </div>
</form>
</div>
</div>
</div>		

<!--login mpdal ends-->


<section class="hero d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <h1>Good Books Good Reads <span>.</span></h1>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
           
            
          <div class="col-xl-2 col-md-4 col-6">
              <div class="category">
                <i class="fas fa-book-reader"></i>
                  <h3><a href="/ourpublishers">Our Books Publishers</a></h3>
              </div>
          </div>
          
          <div class="col-xl-2 col-md-4 col-6">
              <div class="category">
                  <i class="fab fa-opencart"></i>
                  <h3><a href="/book">Varieties of Books</a></h3>
              </div>
          </div>
        </div>
    </div>
</section>
<!---End of Hero Section-->
<!--About Section-->
<section class="about mt-5" id="about">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-6 col-md-10">
                <div class="about-des mb-50">
                    <!--title-->
                    <div class="section-title mb-35">
                        <h2>Who We Are?</h2>
                    </div>
                    <!---End of the title-->
                    <p>Initially,The sample books from all the domains are sent by respective companies.Then,all the books are taken to the respective schools and they chose books accordingly from the given sample books.Then later based on the order of books from the schools , we will order the list of books in the company and then will distribute all the necessary books further to all the school organizations.</p>
                    <p></p>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <div class="experience">
                          <span>80</span>
                          <p> Schools Distributers</p>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <div class="experience">
                          <span>30</span>
                          <p> Company Publishers</p>
                      </div>
                  </div>
                </div>
                

            </div>
            <!--Experience section-->
            <div class="col-xl-5 col-lg-6 col-md-9 offset-md-1 offset-sm-1">
                <div class="about-right-sec">
                    <div class="about-right-image">
                        <img src="images/about.jpg"alt=""class="img-fluid">
                    </div>
                    <div class="img-box">
                        <span>14</span>
                        <p>Years of Experience</p>
                    </div>
                    

                    
                </div>
                <br><br>

                <div class="stiki">

              
                <ul>
                    <li>
                      <a href="" >
                        <h3>CBSE</h3>
                        <h3>Matric School Books</h3>
                        <h3>Library Books</h3>
                        <h3>Guides</h3>
                        <h3>General Books</h3>
                        
                      </a>
                    </li>
                    
                    </ul>
               
                    </div>


                   <br><br>
                    <!-- <div class="row">
                        <div class="">
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <h4>CBSE</h4>
                                </li>
                                <li class="nav-item">
                                <h4> Matric School Books</h4>
                               
                                </li>
                                <li class="nav-item">
                                    <h4>
                                    Library Books</h4>
                                    </li>
                                    <li class="nav-item">
                                        <h4>
                                        Guides</h4>
                                        </li>
                                        <li class="nav-item"><h4>General Books</h4></li>
                            </ul>
                    
                    
                </div> -->
            
            
            
            </div>
        </div>
    </div>
</section>
<!--End of About Section-->
<!---Selling Section-->

  <!---End of Selling Section-->
  <!---Testimonial-->

  


    
  <section id="testimonial"class="mt-5 pt-3 pb-5">
      <div class="container" id="test">
          <div class="row justify-content-center">
              <div class="col-md-12">
                  <h2 class="text-center pb-2">
                    Proprietor
                  </h2>
              </div>
             
              <!----->
              
             <div class="col-md-4 col-sm-4">
                  <div class=" text-box">
                    <p>
                          Owner of the Company
                      </p>
                  </div>
                  <div class="text-info">
                      <a href="#">
                          <img src="images/DSC00584.JPG"  width="110%" height="130%" alt="">
                      </a>
                      <h3>  Murali</h3>
                  </div>

              </div>
            
              <!----->
              <div class="col-md-4 col-sm-4">
                  <div class=" text-box">
                      <p>
                          Managing Director
                      </p>
                  </div>
                  <div class="text-info">
                      <a href="#">
                          <img src="images/santhosh(2).jpg" class="circular--square" width="100%" height="120%"
                          alt="">
                      </a>
                      <h3>Santhosh Kumar</h3>
                  </div>

              </div>
              <!----->
        
            
          </div>
      </div>
  </section>
  <!--End Testimonial-->
 
  <!---End of Tabs Section-->
  <!--Map & Contact Section-->
  <section class="contact mt-5" >
      <div class="container">
          <div class="section-title">
            <h2 class="text-center">
                Location
            </h2>
          
          </div>
      </div>
      <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.421649829837!2d78.17210831429355!3d11.66450084536364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf139a458ab35%3A0x676aaf63d28e6585!2sSanthosh%20Agency!5e0!3m2!1sen!2sin!4v1619685141755!5m2!1sen!2sin" width="100%" height="350px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="container" id="contact">
       <br>
       <h2 class="text-center">
        Contact
    </h2>
          <div class="row mt-5">
              <div class="col-lg-4">
                  <div class="info">
                    
                  
                      <div class="address">
                          <i class="fas fa-map-marker-alt"></i>
                          <h4>Loaction:</h4>
                          <p>4/1,Malli Street,Ponnammapet,<br>Salem-636001</p>
                      </div>
                      <div class="open-hours">
                          <i class="far fa-clock"></i>
                          <h4>Open Hours:</h4>
                          <p>Monday-Saturday<br>
                          10.00am-06.00pm</p>
                      </div>
                      <div class="email">
                        <i class="far fa-envelope-open"></i>
                          <h4>Email:</h4>
                          <p>murali.santhoshagency@gmail.com</p>
                      </div>
                      <div class="phone">
                          <i class="fas fa-phone"></i>
                          <h4>Call:</h4>
                          <p>9940970779</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8 mt-5 mt-lg-0">
                  <form method="POST" action="/contact">
                      <div class="form-row">
                          <div class="col-md-6 form-group">
                              <input type="text" name="name"
                              class="form-control" id="name"
                              placeholder="Your Name">
                          </div>
                          <div class="col-md-6 form-group">
                              <input type="email"
                              class="form-control" name="email" id="email"
                              placeholder="Your Email">
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="text"class="form-control" name="subject"
                          id="subject" placeholder="Subject">

                      </div>
                      <div class="form-group">
                          <textarea class="form-control" name="message"
                          rows="8" placeholder="Message"></textarea>
                      </div>
                      <div class="text-center">
                          <button type="submit">Send message</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!--End of Contact Section-->
  <!--footer section-->
  <footer id="footer"class="mt-3">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="copyright">
                      &copy;copyright<strong>
                          Santhosh Agency
                      </strong>. All Rights Reserved
                  </div>
                 
              </div>
          </div>
              
  </footer>








































  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>