<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script> 
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/publisher.css">

   <style>
     .ml15 {
  font-weight: 800;
  font-size: 3.0em;
  text-transform: uppercase;
  
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}
   </style>
</head>
<body>
    <div class="container-fluid px-md-5 pt-4 pt-md-5">
        <div class="row justify-content-between">
            <div class="col-md-8 order-md-last">
                <div class="row">
                    <div class="col-md-6 text-center">
                      <img src="images/logo.jpg" width="100" height="90">
                        <a class="navbar-brand" href="#" style="font-family: 'Times New Roman', Times, serif;">SANTHOSH
                            <span>AGENCY</span>
                            <small class="text-dark">
                                Distributing Company
                            </small>
                        </a>
                    </div>
                    <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
                        <form class="searchform order-lg-last" action="/goodluck">
                            <div class="form-group d-flex">
                                <input type="text"class="form-control pl-3"
                                placeholder="Search">
                                <button type="submit"placeholder=""
                                class="form-control search">
                                <span class="fas fa-search text-dark"></span>
                              
                              </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--End of Search-->
            <div class="col-md-4 d-flex">
                <div class="social-media">
                    <p class="mb-0 d-flex">
                        <a href="https://www.facebook.com/pages/category/Bookstore/Santhosh-Agency-school-books-suppliers-1507347346220938/"class="d-flex align-items-center 
                        justify-content-center">
                      <span class="fab fa-facebook">
                          <i class="sr-only">Facebook</i>
                      </span>
                      </a>
                      <a href="#"class="d-flex align-items-center 
                        justify-content-center">
                      <span class="fab fa-twitter">
                          <i class="sr-only">Facebook</i>
                      </span>
                      </a>
                      <a href="#"class="d-flex align-items-center 
                        justify-content-center">
                      <span class="fab fa-instagram">
                          <i class="sr-only">Facebook</i>
                      </span>
                      </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--NAVBAr-->
    <hr>
    <div class="text-center">
       
  
    <h1 class="ml15">
      <span class="word">Our</span>
      <span class="word" style="padding-left: 25px;">Publishers</span>
    </h1>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<!-- 
 <div class="row">
<div class="col-lg-4">
    <ul>
        <li style="--animation-order: 1;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Lemon Tree</h4> </li>
        <li style="--animation-order: 2;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Infinity</h4> </li>
        <li style="--animation-order: 3;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Vardhman</h4> </li>
        <li style="--animation-order: 4;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Practica</h4> </li>
        <li style="--animation-order: 5;"><h4 class="text-center" style="padding-block: 15px; font-weight: bold; ">Good Luck Publishers Limited</h4> </li>
        <li style="--animation-order: 6;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Vidyarthi Prakashan Limited</h4> </li>
      </ul>

</div>
<div class="col-lg-4">
    <ul>
        <li style="--animation-order: 1;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Samsel Publications</h4> </li>
        <li style="--animation-order: 2;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Sunshine Publications</h4> </li>
        <li style="--animation-order: 3;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Seasons Publishing</h4> </li>
        <li style="--animation-order: 4;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Young Minds Press</h4> </li>
        <li style="--animation-order: 5;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Cotyledons Educational</h4> </li>
        <li style="--animation-order: 6;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Kidz World Publications</h4> </li>
      </ul>
</div>
<div class="col-lg-4">
    <ul>
        <li style="--animation-order: 1;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">S.R.Publications</h4> </li>
        <li style="--animation-order: 2;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Knowledge Invention</h4> </li>
        <li style="--animation-order: 3;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Associate Prints</h4> </li>
        <li style="--animation-order: 4;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Veda Prakaasanam</h4> </li>
        <li style="--animation-order: 5;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">Galaxy Publication</h4> </li>
        <li style="--animation-order: 6;"><h4 class="text-center" style="padding-block: 20px; font-weight: bold; ">V Publications</h4> </li>
      </ul>
</div>
</div> 



<div>
    <ul>
        <li>
          <a href="#">
            <h2>Title #1</h2>
            <p>Text Content #1</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h2>Title #2</h2>
            <p>Text Content #2</p>
          </a>
        </li>
        […]
      </ul>
</div> -->









<div class="stiki">

<ul class="text-center">
    <li>
      <a href="">
        <h2>Lemon Tree</h2>
        
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Infinity</h2>
        
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Vardhman</h2>
        
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Practica</h2>
       
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Good Luck Publishers Limited</h2>
       
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Vidyarthi Prakashan Limited</h2>
      
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Samsel Publications</h2>
        
      </a>
    </li>
    <li>
      <a href="" >
        <h2>Sunshine Publications</h2>
        
      </a>
    </li>
    <li>
        <a href="">
          <h2>Seasons Publishing</h2>
        
        </a>
      </li>
      <li>
        <a href="">
          <h2>Young Minds Press</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Cotyledons Educational</h2>
          
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Kidz World Publications</h2>
          
        </a>
      </li>
      <li>
        <a href="" >
          <h2>S.R.Publications</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Knowledge Invention</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Associate Prints</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Veda Prakaasanam</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Bookman India</h2>
         
        </a>
      </li>
      <li>
        <a href="" >
          <h2>Runway Books</h2>
         
        </a>
      </li>

  </ul>
</div> 


    <br>
    <br>
    <footer class="container-fluid text-white bg-dark  text-center" id="footer">
        <div class="container ">
            <div class="row-sm-6">
        </div>
        <div class="row-md-8 text-center ">
            <small>copyright &copy;2021 All Rights Reserved-<strong> Santhosh Agency</strong></small>
            </div>
        </div>
  </footer>
</body>
<script>
  anime.timeline({loop: true})
  .add({
    targets: '.ml15 .word',
    scale: [14,1],
    opacity: [0,1],
    easing: "easeOutCirc",
    duration: 800,
    delay: (el, i) => 800 * i
  }).add({
    targets: '.ml15',
    opacity: 0,
    duration: 1500,
    easing: "easeOutExpo",
    delay: 1000
  });
</script>
</html>